{% import 'FreeNoteBundle:Frontend/Page:pageMacros.html.twig' as macros %}

<div class="podzielnik_poziom_big"></div>
<div class="box_header advert_header">
    {{ ('advert.header')|trans({}, 'FreeNoteCoreBundle') }}
</div>

{{ macros.page_content(content) }}