<ul class="nav pull-right">
    <li>
        {% if is_granted('ROLE_USER') %}
            {{ render(controller('FreeNoteBundle:Frontend/TopUser:topUser')) }}
        {% endif %}
    </li>
    <li class="toppanel_spacer"><img src="{{ asset('assets/img/toppanel_spacer.png') }}" alt="" /></li>
    <li>
        <div id="user_menu">
            <ul>
                <li>{{ knp_menu_render('FreeNoteBundle:Builder:frontendUserMenu', {'template': 'FreeNoteBundle:Frontend/Menu:mainmenu.html.twig'}) }}</li>
            </ul>
        </div>
    </li>
    <li class="toppanel_spacer"><img src="{{ asset('assets/img/toppanel_spacer.png') }}" alt="" /></li>
    <li>{% include 'FreeNoteBundle:Frontend/Main:topBasket.html.twig' %}</li>
</ul>
