<ul class="nav pull-right" xmlns="http://www.w3.org/1999/html">
    <li>{% include 'FreeNoteBundle:Frontend/Main:topUser.html.twig' %}</li>
    <li class="toppanel_spacer"><img src="{{ asset('assets/img/toppanel_spacer.png') }}" alt="" /></li>
    <li>
        <div id="user_menu">
            <ul>
                <li>{{ knp_menu_render('FreeNoteBundle:Builder:frontendUserMenu', {'template': 'FreeNoteBundle:Frontend/Menu:mainmenu.html.twig'}) }}</li>
            </ul>
        </div>
    </li>
    <li class="toppanel_spacer"><img src="{{ asset('assets/img/toppanel_spacer.png') }}" alt="" /></li>
    <li>{% include 'FreeNoteBundle:Frontend/Main:topBasket.html.twig' %}</li>
</ul>
