# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
app/logs/*
app/cache/*
web/uploads/*
web/bundles/*
web/assets/compiled/*
web/js/*
web/media/cache/*

# Configuration files
app/config/parameters.yml


#PHPStorm
.idea/*
