.category_level_2
{
    padding-left: 30px !important;
}

.category_level_3
{
    padding-left: 50px !important;
}

.category_level_4
{
    padding-left: 70px !important;
}

.category_level_5
{
    padding-left: 90px !important;
}

.category_level_6
{
    padding-left: 110px !important;
}

.category_fake
{
    background-color: rgb(245,245,245);
}