{% extends 'FreeNoteBundle:Frontend:layout.html.twig' %}

{% block content %}

    <div id="main">
        {% block main %}
            {% include 'FreeNoteBundle::flashes.html.twig' %}
        {% endblock %}
    </div>

    <div id="rightBoxes">
        {% block rightboxes %}
        {% endblock %}
    </div>

{% endblock %}
