{% extends 'FreeNoteBundle:Frontend:layout.html.twig' %}

{% block mainpage %}

    <div id="icon_menu">
        {% block iconmenu %}
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}
            {% include 'FreeNoteBundle::flashes.html.twig' %}
        {% endblock %}
    </div>

{% endblock %}
