{% extends 'SandboxCoreBundle:Frontend:layout.html.twig' %}

{% block content %}
<div class="page-header">
<h1>Lista wpisów</h1>
</div>

{% if paginator.haveToPaginate() %}
{{ pagerfanta(paginator, 'twitter_bootstrap_translated') }}
{% endif %}

{% if posts|length > 0 %}
    {% for post in posts %}
        {% include 'SandboxBloggerBundle:Frontend/Post:single.html.twig' %}
    {% endfor %}
{% else %}
    <hr />
    <div class="alert alert-info">
        Brak wpisów do wyświetlenia.
    </div>
{% endif %}

{% if paginator.haveToPaginate() %}
{{ pagerfanta(paginator, 'twitter_bootstrap_translated') }}
{% endif %}

{% endblock %}
