{% extends 'FreeNoteBundle:Frontend:layout.html.twig' %}

{% block content %}
<div class="page-header">
<h1>Blog <small>Blog posts list</small></h1>
</div>

{% if article_entries.haveToPaginate() %}
{{ pagerfanta(article_entries, 'twitter_bootstrap_translated') }}
{% endif %}

{% if article_entries|length > 0 %}
    {% for entry in article_entries %}
        {% include 'FreeNoteBundle:Frontend/ArticleEntry:_single.html.twig' %}
    {% endfor %}
{% else %}
    <hr />
    <div class="alert alert-info">
        No posts to display.
    </div>
{% endif %}

{% if article_entries.haveToPaginate() %}
{{ pagerfanta(article_entries, 'twitter_bootstrap_translated') }}
{% endif %}

{% endblock %}
