{% if order.closed %}
{{ form_widget(form.status, {'attr': {'disabled': 'disabled', 'title':'To zamówienie jest zamknięte!'}}) }}
{% else %}
<form method="post" action="{{ path('sylius_sales_backend_order_status', {'id': order.id}) }}" class="form-inline">
{{ form_widget(form.status) }}
{{ form_rest(form) }}
<input type="submit" class="btn btn-primary" value="zmień status" />
</form>
{% endif %}
