{% extends 'FreeNoteBundle:Backend:layout.html.twig' %}

{% block header %}
    <h1>{{ 'category.new_header'|trans({}, 'FreeNoteCoreBundle') }}</small></h1>
{% endblock %}

{% block content %}
<form action="{{ path('free_note_backend_category_create', {'alias': catalog.alias}) }}" method="post" class="form-horizontal">
    {% include 'FreeNoteBundle:Backend/ArticleCategory:_form.html.twig' %}
    <div class="form-actions">
        <input type="submit" value="{{ 'create'|trans({}, 'FreeNoteCoreBundle') }}" class="btn btn-primary btn-large" />
    </div>
</form>
{% endblock %}
