{% extends 'SandboxCoreBundle:Frontend:layout.html.twig' %}

{% block content %}
<div class="page-header">
  <h1>Wolna Nuta</h1>
</div>

<h2>Witaj na portalu Wolna Nuta.</h2>
<p>
    Niedługo znajdziesz tu setki zespołów oraz tysiące utworów, które możesz kupić, ale też całkiem bezpłatnie pobrać.
    Jeśli jesteś muzykiem lub masz swój zespół i chcesz sprzedawać swoją twórczość, możemy Ci pomóc.
</p>
<p>
    Inicjatywa stworzenia naszego portalu zrodziła się na jednym z wrocławskich marszów protestacyjnych przeciwko ACTA. Uświadomiliśmy sobie wtedy, jak naprawdę działa dziś rynek muzyczny. Jeśli chcesz zaznajomić się z twórczością zespołu, zwykle nie kierujesz swoich pierwszych kroków w stronę sklepu muzycznego, lecz ściągasz utwory z internetu. W myśl prawa jesteś złodziejem, "piratem", za co grozi Ci kara więzienia lub grzywny.
</p>
<p>
    Sytuacja spowodowana jest uporczywym forsowaniem przez instytucje takie jak ZAiKS anachronicznych metod dystrybucji muzyki (i innych dóbr intelektualnych). Od czasu ich powstania świat i społeczeństwo mocno się zmieniły. Główną przyczyną zmian było powstanie internetu jako platformy wymiany danych. Powstałe społeczeństwo internautów ponad wszystko stawia sobie wolność- słowa i wyznania, lecz przede wszystkim wymiany informacji.
</p>
<p>
    Zwapniałe systemy dystrybucji i promowania muzyki umiłowane przez wspomniane instytucje nie mają dziś prawa bytu. Obecnie, jeśli spodoba Ci się jakaś płyta, kupujesz ją i stawiasz na półce jako obiekt kolekcjonerski, gdyż większość z nas muzyki i tak słucha najczęściej na telefonie, odtwarzaczu mp3 lub komputerze osobistym. Wolna Nuta jest serwisem promującym zarówno młodych, początkujących, jak też znanych, doświadczonych muzyków. Możesz tu pobrać plik za darmo, kupić płytę (lub inny gadżet) artysty lub wesprzeć twórców dobrowolną wpłatą przy pobieraniu.
</p>
<p>
    Ostatnia opcja jest przeniesieniem do wirtualnego świata możliwości "wrzucenia pieniążka do kapelusza". Jeśli podoba Ci się muzyka, wypadałoby rzucić artyście drobną kwotę, aby wiedział, że ktoś lubi jego twórczość, i miał motywację do dalszego działania. Sami jesteśmy muzykami i niezwykle irytują nas problemy młodych zespołów, próbujących zrobić w naszym kraju karierę. Nie mają na to szans, ponieważ aby być znanym w Polsce nie musisz mieć talentu, tylko pieniądze.
</p>
<p>
    Tak! Przemysł muzyczny stanął na głowie. Wydawać by się mogło, że naturalna kolej rzeczy powinna wyglądać następująco:
</p>
<p>
    Jesteś zdolny ->
    -> ludzie Cię zauważają i interesują się Twoją twórczością ->
    -> stajesz się popularn(y/a) wśród ludzi więc dostrzegają Cię media ->
    -> stajesz się jeszcze bardziej popularn(y/a) ->
    -> zarabiasz grube pieniądze na swojej pasji, bo Twoja twórczość jest rozpowszechniana przez media pośród milionów Polaków.
</p>
<p>
    Niestety tutaj pojawia się problem, ponieważ w rzeczywistości proces ten przedstawia się tak:
</p>
<p>
    Jesteś bogat(y/a) i/lub masz tzw. „dojścia”->
    -> okupujesz telewizyjne i radiowe stacje muzyczne ->
    -> wskutek pozornego braku alternatywy ludzie Cię znają i słuchają, choćbyś był(a) skrajnym beztalenciem.
</p>
<p>
    Z pomocą naszego serwisu pragniemy przywrócić naturalny bieg rzeczy. Serwis Wolna Nuta to nie tylko miejsce do odsłuchania i pobrania muzyki czy wsparcia artystów. Nasz serwis znajduje się obecnie we współpracy z osobami organizującymi festiwale i koncerty, dwoma studiami nagraniowymi oraz tłocznią płyt.
</p>
<p>
    Jeśli jesteś zainteresowan(y/a) współpracą, skontaktuj się z nami, pisząc pod ten adres: info@wolnanuta.pl, lub pod numerem telefonu 536 285 537.
</p>
{% endblock %}
