{% extends 'SandboxCoreBundle:Backend:layout.html.twig' %}

{% block header %}
    <h1>Edycja wariantu</h1>
{% endblock %}

{% block content %}
<form action="{{ path('sylius_assortment_backend_variant_update', {'id': variant.id}) }}" method="post" class="form-horizontal" novalidate>
    {% include 'SandboxAssortmentBundle:Backend/Variant:_form.html.twig' %}
    <div class="form-actions">
       <input type="submit" value="zapisz" class="btn btn-primary btn-large" />
    </div>
</form>
{% endblock %}
