/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/

.gradient(@color: #F5F5F5, @start: #EEE, @stop: #FFF) {
  background: @color;
  background: -webkit-gradient(linear,
                               left bottom,
                               left top,
                               color-stop(0, @start),
                               color-stop(1, @stop));
  background: -ms-linear-gradient(bottom,
                                  @start,
                                  @stop);
  background: -moz-linear-gradient(center bottom,
                                   @start 0%,
                                   @stop 100%);
}
.bw-gradient(@color: #F5F5F5, @start: 0, @stop: 255) {
  background: @color;
  background: -webkit-gradient(linear,
                               left bottom,
                               left top,
                               color-stop(0, rgb(@start,@start,@start)),
                               color-stop(1, rgb(@stop,@stop,@stop)));
  background: -ms-linear-gradient(bottom,
                                  rgb(@start,@start,@start) 0%,
                                  rgb(@start,@start,@start) 100%);
  background: -moz-linear-gradient(center bottom,
                                   rgb(@start,@start,@start) 0%,
                                   rgb(@stop,@stop,@stop) 100%);
}
.bordered(@top-color: #EEE, @right-color: #EEE, @bottom-color: #EEE, @left-color: #EEE) {
  border-top: solid 1px @top-color;
  border-left: solid 1px @left-color;
  border-right: solid 1px @right-color;
  border-bottom: solid 1px @bottom-color;
}
.drop-shadow(@x-axis: 0, @y-axis: 1px, @blur: 2px, @alpha: 0.1) {
  -webkit-box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
  -moz-box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
  box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
}
.rounded(@radius: 2px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}
.border-radius(@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
  -webkit-border-top-right-radius: @topright;
  -webkit-border-bottom-right-radius: @bottomright;
  -webkit-border-bottom-left-radius: @bottomleft;
  -webkit-border-top-left-radius: @topleft;
  -moz-border-radius-topright: @topright;
  -moz-border-radius-bottomright: @bottomright;
  -moz-border-radius-bottomleft: @bottomleft;
  -moz-border-radius-topleft: @topleft;
  border-top-right-radius: @topright;
  border-bottom-right-radius: @bottomright;
  border-bottom-left-radius: @bottomleft;
  border-top-left-radius: @topleft;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}
.opacity(@opacity: 0.5) {
  -moz-opacity: @opacity;
  -khtml-opacity: @opacity;
  -webkit-opacity: @opacity;
  opacity: @opacity;
}
.transition-duration(@duration: 0.2s) {
  -moz-transition-duration: @duration;
  -webkit-transition-duration: @duration;
  transition-duration: @duration;
}
.rotation(@deg:5deg){
  -webkit-transform: rotate(@deg);
  -moz-transform: rotate(@deg);
  transform: rotate(@deg);
}
.scale(@ratio:1.5){
  -webkit-transform:scale(@ratio);
  -moz-transform:scale(@ratio);
  transform:scale(@ratio);
}
.transition(@duration:0.2s, @ease:ease-out) {
  -webkit-transition: all @duration @ease;
  -moz-transition: all @duration @ease;
  transition: all @duration @ease;
}
.inner-shadow(@horizontal:0, @vertical:1px, @blur:2px, @alpha: 0.4) {
  -webkit-box-shadow: inset @horizontal @vertical @blur rgba(0, 0, 0, @alpha);
  -moz-box-shadow: inset @horizontal @vertical @blur rgba(0, 0, 0, @alpha);
  box-shadow: inset @horizontal @vertical @blur rgba(0, 0, 0, @alpha);
}
.box-shadow(@arguments) {
  -webkit-box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  box-shadow: @arguments;
}
.columns(@colwidth: 250px, @colcount: 0, @colgap: 50px, @columnRuleColor: #EEE, @columnRuleStyle: solid, @columnRuleWidth: 1px) {
  -moz-column-width: @colwidth;
  -moz-column-count: @colcount;
  -moz-column-gap: @colgap;
  -moz-column-rule-color: @columnRuleColor;
  -moz-column-rule-style: @columnRuleStyle;
  -moz-column-rule-width: @columnRuleWidth;
  -webkit-column-width: @colwidth;
  -webkit-column-count: @colcount;
  -webkit-column-gap: @colgap;
  -webkit-column-rule-color: @columnRuleColor;
  -webkit-column-rule-style: @columnRuleStyle;
  -webkit-column-rule-width: @columnRuleWidth;
  column-width: @colwidth;
  column-count: @colcount;
  column-gap: @colgap;
  column-rule-color: @columnRuleColor;
  column-rule-style: @columnRuleStyle;
  column-rule-width: @columnRuleWidth;
}
.translate(@x:0, @y:0) {
  -moz-transform: translate(@x, @y);
  -webkit-transform: translate(@x, @y);
  -o-transform: translate(@x, @y);
  -ms-transform: translate(@x, @y);
  transform: translate(@x, @y);
}

.fngradient3 (@bgcolor: @fntxtback, @r1: 155, @g1:155, @b1:155, @a1:0.33, @p1: 0%,
@r2: 54, @g2: 54, @b2: 54, @a2: 0.69, @p2: 25%,
@r3: 54, @g3: 54, @b3: 54, @a3: 0.33, @p3: 100%,
@iestart: '#549b9b9b', @iestop: '#54363636')
{
  background-color: @bgcolor;
  background: -moz-linear-gradient(top, rgba(@r1,@g1,@b1,@a1) @p1, rgba(@r2,@g2,@b2,@a2) @p2, rgba(@r3,@g3,@b3,@a3) @p3); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(@p1,rgba(@r1,@g1,@b1,@a1)), color-stop(@p2,rgba(@r2,@g2,@b2,@a2)), color-stop(@p3,rgba(@r3,@g3,@b3,@a3))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(@r1,@g1,@b1,@a1) @p1,rgba(@r2,@g2,@b2,@a2) @p2,rgba(@r3,@g3,@b3,@a3) @p3); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(@r1,@g1,@b1,@a1) @p1,rgba(@r2,@g2,@b2,@a2) @p2,rgba(@r3,@g3,@b3,@a3) @p3); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(@r1,@g1,@b1,@a1) @p1,rgba(@r2,@g2,@b2,@a2) @p2,rgba(@r3,@g3,@b3,@a3) @p3); /* IE10+ */
  background: linear-gradient(to bottom, rgba(@r1,@g1,@b1,@a1) @p1,rgba(@r2,@g2,@b2,@a2) @p2,rgba(@r3,@g3,@b3,@a3) @p3); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=@iestart, endColorstr=@iestop,GradientType=0 ); /* IE6-9 */
}

.fngradient2 (@bgcolor: @fntxtback, @r1: 155, @g1:155, @b1:155, @a1:0.33, @p1: 0%,
@r2: 54, @g2: 54, @b2: 54, @a2: 0.69, @p2: 100%,
@iestart: '#549b9b9b', @iestop: '#54363636')
{
  background-color: @bgcolor;
  background: -moz-linear-gradient(top, rgba(@r1,@g1,@b1,@a1) @p1, rgba(@r2,@g2,@b2,@a2) @p2); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(@p1,rgba(@r1,@g1,@b1,@a1)), color-stop(@p2,rgba(@r2,@g2,@b2,@a2))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(@r1,@g1,@b1,@a1) @p1,rgba(@r2,@g2,@b2,@a2) @p2); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(@r1,@g1,@b1,@a1) @p1,rgba(@r2,@g2,@b2,@a2) @p2); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(@r1,@g1,@b1,@a1) @p1,rgba(@r2,@g2,@b2,@a2) @p2); /* IE10+ */
  background: linear-gradient(to bottom, rgba(@r1,@g1,@b1,@a1) @p1,rgba(@r2,@g2,@b2,@a2) @p2); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=@iestart, endColorstr=@iestop,GradientType=0 ); /* IE6-9 */
  background-repeat: repeat-x;
}

.fnhoverTransition(@duration:0.2s, @ease:ease-in-out)
{
  -webkit-transition: all @duration @ease;
  -moz-transition: all @duration @ease;
  transition: all @duration @ease;
}

.fnboxshadow(@arguments) {
  -webkit-box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  box-shadow: @arguments;
}

.fnbordered(@top: 0px, @right: 0px, @bottom: 0px, @left: 0px) {
  border-top: @top;
  border-left: @left;
  border-right: @right;
  border-bottom: @bottom;
}

@fnred: #FB1D1d;
@fnredShadow: rgba(251, 29, 29, 0.8);
@fnblue: #0084FF;
@fnblueShadow: rgba(0, 132, 255, 0.8);
@fngreen: #84d25d;
@fngreenShadow: rgba(132, 210, 93, 0.8);
@fnyellow: #FFD800;
@fnyellowShadow: rgba(255, 216, 0, 0.8);
@fnwhite: #ebebfb;
@fngrey: #cac9d9;
@fntxtback: #292929;
@fnborderRed: #af0000;
@fnblack: #292929;
@fnborderGrey: #bbbbbb;

@fnfontSizeMini: 11px;
@fnfontSizeSmall: 12px;
@fnfontSizeTextSecond: 13px;
@fnfontSizeTextSecondHeader: 14px;
@fnfontSizeTextMain: 14px;
@fnfontSizeTextMainH1: 18px;
@fnfontSizeTextMainH2: 16px;
@fnfontSizeTextMiniMenu: 14px;
@fnfontSizeMainMenu: 20px;
@fnfontSizeIconMenu: 18px;
@fnfontSizeIconMenuSmall: 14px;
@fnfontSizeBoxHeader: 18px;
@fnfontSizeButton: 13px;

@fnfontLineHeightMini: 13px;
@fnfontLineHeightSmall: 18px;
@fnfontLineHeightTextSecond: 16px;
@fnfontLineHeightTextSecondHeader: 17px;
@fnfontLineHeightTextMain: 20px;
@fnfontLineHeightIconMenuSmall: 24px;

@fnfontWeightThin: 300;
@fnfontWeightBold: 400;
@fnfontWeightExtraBold: 600;

@fntextShadowBlack: 2px 2px 0 #000000;
@fntextShadowGrey: 0 1px 0 rgba(220, 220, 236, 0.5);
@fntextShadowWhite: 0 1px 0 rgba(239, 239, 255, 0.5);
@fntextShadowBlue: 0 1px 0 rgba(0, 132, 255, 0.5);
@fntextShadowRed: 0 1px 0 rgba(251, 29, 29, 0.5);
@fntextShadowYellow: 0 1px 0 rgba(255, 216, 0, 0.5);
@fntextShadowGreen: 0 1px 0 rgba(132, 210, 93, 0.5);


@fnletterSpacing: -0.3px;

@fntextGlowRed: 7px 7px 20px @fnredShadow, -7px 7px 20px @fnredShadow, 7px -7px 20px @fnredShadow, -7px -7px 20px @fnredShadow;
@fntextGlowBlue: 7px 7px 20px @fnblueShadow, -7px 7px 20px @fnblueShadow, 7px -7px 20px @fnblueShadow, -7px -7px 20px @fnblueShadow;
@fntextGlowGreen: 7px 7px 20px @fngreenShadow, -7px 7px 20px @fngreenShadow, 7px -7px 20px @fngreenShadow, -7px -7px 20px @fngreenShadow;
@fntextGlowYellow: 7px 7px 20px @fnyellowShadow, -7px 7px 20px @fnyellowShadow, 7px -7px 20px @fnyellowShadow, -7px -7px 20px @fnyellowShadow;
@fntextGlowWhite: 7px 7px 20px rgba(255, 255, 255, 0.8), -7px 7px 20px rgba(255, 255, 255, 0.8), 7px -7px 20px rgba(255, 255, 255, 0.8), -7px -7px 20px rgba(255, 255, 255, 0.8);


/******************  BODY I TLO GLOWNE ********************/
html, body {
    background-color: #000000;
}
body {
    padding-bottom: 0px;
    background: url('../img/pattern.jpg') top left repeat;
  font-size: @fnfontSizeTextMain;
  line-height: @fnfontLineHeightTextMain;
  font-weight: @fnfontWeightThin;
  color: @fnwhite;
}

#main-graphic
{
    background: url('../img/main_graphic.png') top center no-repeat;
  text-align: center;
}

#main-content
{
  padding-top: 76px;
}

/******************  TOP PANEL ********************/
.navbar-inner
{
  .fngradient2 (@fntxtback, 102, 102, 102, 0.75, 0%, 0, 0, 0, 0.75, 100%, '#bf666666', '#bf000000');
}

.navbar-inner:hover
{
  .fngradient2 (@fntxtback, 102, 102, 102, 1, 0%, 0, 0, 0, 1, 100%, '#bf666666', '#bf000000');
  .fnhoverTransition();
}

.navbar-underline
{
  border-bottom: 1px solid @fnborderRed;
  .fnboxshadow(0 0 3px 1px #000000);
}

.toppanel_spacer
{
  height: 64px;
}
.toppanel_spacer img
{
  padding: 3px 0px 3px 0px;
}

.toppanel_top
{
  background: url('../img/toppanel_top_grad.png') top left repeat-x;
  height: 11px;
}

.toppanel_basket
{
  padding: 0 0px 0 15px;
}

.toppanel_basket_col
{
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  color: @fngrey;
}

.toppanel_basket_col > a > img
{
  padding-right: 20px;
}

.toppanel_basket_col > a
{
  padding: 6px 0px;
  display: table;
}

.toppanel_basket_header, .toppanel_basket_count
{
  font-size: @fnfontSizeSmall;
  line-height: 22px;
}

.toppanel_basket_count
{
  color: @fnred;
}

.toppanel_basket_header > a
{
  color: @fngrey;
  text-decoration: none;
  padding: 6px 0px;
}

#user_menu
{
  padding: 0 30px 0 17px;
}

#user_menu ul
{
  margin: 0px;
}

#user_menu li
{
  float: none;
  font-weight: @fnfontWeightBold;
  list-style: none;
  letter-spacing: @fnletterSpacing;
}

#user_menu li > a
{
  color: @fngrey;
  padding: 13px 0px 0px 0px;
  text-shadow: @fntextShadowBlack;
  background-color: transparent;
}

#user_menu li.default > a
{
  color: @fngrey;
}

#user_menu li.default > a:hover, #user_menu li.red > a
{
  color: @fnred;
}

.toppanel_user
{
  padding: 0 30px 0 0px;
}

.avatar
{
  background-color: #a1a1a1;
  .fnboxshadow(inset 0 0 0 3px #3c3c3c);
  margin: 6px 20px 0px 0px;
}


/****************** MAIN CONTENT i ABSOLUTE ELEMENTS, FOOTER ********************/

.current_width
{
  width: 1130px;
  margin: 0 auto;
}
.current_width_back
{
  width: 1290px;
  margin: 0 auto;
  text-align: left;
  position: relative;
}

#content_back
{
  background-color: rgba(0, 0, 0, 0.47);
  border: 1px solid #606069;
  .fnboxshadow(0 0 80px 1px rgba(255, 255, 255, 0.47));
}

#logo
{
  padding: 14px 0px 0px 13px;
  position: absolute;
  top: -76px;
  left: 28px;
  z-index: 2000;
}

#baner
{
  margin: 14px 0px 0px 13px;
  position: absolute;
  top: 6px;
  right: 47px;
  z-index: 1000;
}

footer
{
  padding: 10px 0 30px 0;
}


/****************** MENU MIN ********************/

#menu_min
{
  height: 30px;
  padding-top: 5px;
  text-align: right;
  font-size: @fnfontSizeTextMiniMenu;
  font-weight: @fnfontWeightBold;
  z-index: 3000;
}

#menu_min li
{
  float: left;
  padding-left: 30px;
}

#menu_min li > a
{
  color: @fnwhite;
  padding: 0px 5px 0px 5px;
  text-shadow: @fntextShadowBlack;
}

#menu_min li > a:hover
{
  color: @fnred;
}


/****************** MAIN MENU ********************/

#main_menu
{
  height: 133px;
  background: url('../img/main-menu.png') top center no-repeat;
  font-size: @fnfontSizeMainMenu;
  letter-spacing: @fnletterSpacing;
  font-weight: @fnfontWeightBold;
  position: absolute;
  top: 333px;
  width: 100%;
}

#main_menu ul
{
  padding-left: 87px;
}

#main_menu li
{
  float: left;
}

#main_menu li > a
{
  padding: 47px 21px 50px 39px;
}

#main_menu li.default > a
{
  color: @fnwhite;
}

#main_menu li.default > a:hover, #main_menu li.default.current > a
{
  color: @fnwhite;
  text-shadow: @fntextGlowWhite;
}

#main_menu li.red > a
{
  color: @fnred;
}

#main_menu li.red > a:hover, #main_menu li.red.current > a, #main_menu li.default_red > a:hover, #main_menu li.default_red.current > a
{
  color: @fnred;
  text-shadow: @fntextGlowRed;
}

#main_menu li.yellow > a
{
  color: @fnyellow;
}

#main_menu li.yellow > a:hover, #main_menu li.yellow.current > a, #main_menu li.default_yellow > a:hover, #main_menu li.default_yellow.current > a
{
  text-shadow: @fntextGlowYellow;
}

#main_menu li.green > a
{
  color: @fngreen;
}

#main_menu li.green > a:hover, #main_menu li.green.current > a, #main_menu li.default_green > a:hover, #main_menu li.default_green.current > a
{
  text-shadow: @fntextGlowGreen;
}

#main_menu li.blue > a
{
  color: @fnblue;
}

#main_menu li.blue > a:hover, #main_menu li.blue.current > a, #main_menu li.default_blue > a:hover, #main_menu li.default_blue.current > a
{
  color: @fnblue;
  text-shadow: @fntextGlowBlue;
}


/****************** PLAYER ********************/

#toplayer
{
  height: 333px;
}

#player
{
  margin-left: 350px;
}


/****************** CONTENT ********************/

#page_container
{
  margin-top: 130px;
}

.page_content
{
  margin: 10px 0px;
  text-align: center;
}

#content
{
  display: table;
  margin: 0px -10px 0px -10px;
}

#leftbar
{
  width: 265px;
}

#rightBoxes
{
  width: 265px;
  float: right;
  text-align: center;
  margin-left: 40px;
}

#main_small
{
  width: 580px;
  width: 550px !important;
  float: left;
  color: @fngrey;
  .fngradient3();
  padding: 15px 15px 30px 15px;
}


/****************** ICON MENU ********************/

#icon_menu
{
  width: 225px;
  float: left;
}


/****************** PODZIELNIKI - TODO (zamienic na hr ********************/

.podzielnik_poziom_big
{
  margin: 20px -38px;
  width: 1165px;
  height: 10px;
  background: url('../img/podzialnik-poziom-big.png') top left no-repeat;
}

.podzielnik_pion
{
  margin: 0px 10px;
}

.podzielnik_poziom_small
{
  padding-top: 13px;
  padding-bottom: 33px;
}

.hr_white
{

  border-top: 1px solid @fnwhite;
  border-bottom: 1px solid #d4d4d4;
  margin: 10px 0px 20px 0px;
}

hr
{
  border-top: 1px solid #595959;
  border-bottom: 1px solid #2b2b2b;
  margin: 10px 0px 20px 0px;
}


/****************** BOXES - HEADERS ********************/

.box_header
{
  height: 30px;
  height: 29px !important;
  font-size: @fnfontSizeBoxHeader;
  letter-spacing: @fnletterSpacing;
  font-weight: @fnfontWeightBold  ;
  color:@fnwhite;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  .fnbordered(1px solid #333333, 1px solid #222222, 1px solid #222222, 1px solid #222222);
  .fngradient2 (@fntxtback, 19, 19, 19, 0.88, 0%, 76, 76, 76, 0.88, 100%, '#e0131313', '#e04c4c4c');
}

.advert_header
{
  width: 170px;
  width: 168px !important;
}

.shop_header
{
  width: 535px;
  width: 533px !important;
  color: @fngreen;
}

.cloud_header, .community_header
{
  width: 250px;
  width: 248px !important;
}

.categories_box_header
 {
   width: 265px;
   width: 263px !important;
   color: @fnred;
 }

/****************** BOXES - TABS ********************/

.nav-tabs
{
  font-size: @fnfontSizeTextMiniMenu;
  text-shadow: @fntextShadowGrey;
  font-weight: @fnfontWeightBold;
  letter-spacing: @fnletterSpacing;
}

.nav-tabs > li > a
{
  color: @fngrey;
}

#categoriesTab > li > a,
#categoriesTab > li > a {
  padding-right: 6px;
  padding-left: 6px;
}

#shopTab > li > a:hover,
#shopTab > li > a:focus {
  color: @fngreen;
  border-color: transparent;
  text-shadow: @fntextShadowGreen;
}
#shopTab > .active > a,
#shopTab > .active > a:hover,
#shopTab > .active > a:focus {
  color: @fngreen;
  cursor: default;
  text-shadow: @fntextShadowGreen;
}

#shopTab > li > a,
#shopTab > li > a {
  padding-right: 10px;
  padding-left: 10px;
}


/****************** PRODUCTS - SMALL ********************/

.box_cell
{
  display: table-cell;
  text-align: center;
  vertical-align: top;
}

.product_grid_cell
{
  display: table-cell;
  padding: 4px;
  vertical-align: top;
  text-align: center;
}
.product_grid_item
{
  border: 3px solid @fngrey;
  .fngradient3(#dddddd, 221, 221, 221, 1, 0%, 255, 255, 255, 1, 50%, 221, 221, 221, 1, 100%, #dddddd, #ffffff);
  display: table-cell;
  text-align: center;
  padding: 12px;
}

.product_grid_small_item
{
  width: 170px;
  height: 275px;
  width: 140px !important;
  height: 245px !important;
  overflow: hidden;
}

.product_img
{
  background-color: #ffffff;
  width: 140px;
  height: 170px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.product_name
{
  height: 30px !important;
  height: 43px;
  color: @fnblack;
  font-size: @fnfontSizeTextSecond;
  font-weight: @fnfontWeightBold;
  text-align: center;
  padding: 8px 0px 5px 0px;
  line-height: @fnfontLineHeightTextSecond;
}

.product_name a
{
  color: @fnblack;
  text-decoration: none;
  font-weight: @fnfontWeightBold;
}

.product_name a:hover
{
  color: @fngreen;
}

.product_price_basket
{
  padding-top: 2px;
}

.product_price
{
  float: left;
  color: @fnblack;
  font-size: @fnfontSizeTextSecondHeader;
  font-weight: @fnfontWeightExtraBold;
  line-height: @fnfontLineHeightTextSecondHeader;
  letter-spacing: @fnletterSpacing;
  padding-top: 5px;
}

.product_add
{
  float: right;
}



/****************** BUTTONS ********************/

.btn
{
  color: @fnwhite;
  font-size: @fnfontSizeButton;
  font-weight: @fnfontWeightBold;
  line-height: @fnfontLineHeightTextSecondHeader;
  letter-spacing: @fnletterSpacing;

}



/****************** THUMBNAILS ********************/

.thumb_container
{
  padding: 4px;
}

.thumb_container a
{
  text-decoration: none;
}

.thumb_border
{
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  border: 1px solid @fnborderGrey;
}

.thumb_border_entry
{
  width: 148px !important;
  height: 148px !important;
  width: 150px;
  height: 150px;
}

.thumb_border_big
{
  width: 73px !important;
  height: 73px !important;
  width: 75px;
  height: 75px;
}

.thumb_border_small
{
  width: 48px !important;
  height: 48px !important;
  width: 50px;
  height: 50px;
}

.thumb
{
  border: 1px solid rgba(0, 0, 0, 1);
  padding: 0px;
}

.thumb_entry
{
  width: 151px;
  height: 151px;
  width: 150px !important;
  height: 150px !important;
}

.thumb_big
{
  width: 76px;
  height: 76px;
  width: 75px !important;
  height: 75px !important;
}

.thumb_small
{
  width: 51px;
  height: 51px;
  width: 50px !important;
  height: 50px !important;
}

a.thumb_big_red:hover, .thumb_big_red:hover,
a.thumb_big_red:focus, .thumb_big_red:focus,
a.thumb_small_red:hover, .thumb_small_red:hover,
a.thumb_small_red:focus, .thumb_small_red:focus
{
  border-color: @fnredShadow;
  .fnboxshadow(0 0 6px @fnredShadow);
}

a.thumb_big_blue:hover, .thumb_big_blue:hover,
a.thumb_big_blue:focus, .thumb_big_blue:focus,
a.thumb_small_blue:hover, .thumb_small_blue:hover,
a.thumb_small_blue:focus, .thumb_small_blue:focus
{
  border-color: @fnblueShadow;
  .fnboxshadow(0 0 6px @fnblueShadow);
}

.thumb_small img, .thumb_big img
{
  border: 0px;
}

a.thumbnail_shop:hover, .thumbnail_shop:hover,
a.thumbnail_shop:focus, .thumbnail_shop:focus
{
  border-color: @fngreen;
}


/****************** BOXES - CATEGORIES ********************/

.catbox_item
{
  min-height: 170px;
  min-height: 154px !important;
  width: 261px;
  width: 249px !important;
  .fngradient2 (@fntxtback, 0, 0, 0, 0.33, 0%, 155, 155, 155, 0.33, 100%, '#bf000000', '#bf9b9b9b');
  padding: 10px 6px 6px 6px;
  margin: 0 auto;
}

.catbox_item_top
{
  display: block;
  overflow: hidden;
  clear: both;
}

.catbox_item_image
{
  float: left;
}

.catbox_item_info
{
  color: @fnwhite;
  padding-left: 91px;
  padding-top: 6px;
  text-align: left;
}

.catbox_item_date
{
  font-size: @fnfontSizeMini;
  line-height: @fnfontLineHeightMini;
  padding-bottom: 2px;
}

.catbox_item_title
{
  line-height: @fnfontLineHeightTextSecondHeader;
  padding-top: 3px;
}

.catbox_item_title > a
{
  color: @fnwhite;
  font-size: @fnfontSizeTextSecondHeader;
  text-decoration: none;
}

.catbox_item_title > a:hover, .catbox_item_title > a:focus
{
  color: @fnblue;
  text-shadow: @fntextShadowBlack;
}

.catbox_item_desc
{
  color: @fngrey;
  font-size: @fnfontSizeTextSecond;
  line-height: @fnfontLineHeightTextSecond;
  text-align: left;
  padding: 5px 6px 0px 6px;
}

.catbox_item_more
{
  color: @fnblue;
  font-size: 13px;
  text-align: right;
}

.catbox_item_more > a, .catbox_item_desc > a, .thumb_border > a
{
  color: @fnblue;
  text-decoration: none;
  text-shadow: @fntextShadowBlack;
}


/****************** BOXES - MOST DOWNLOADED ********************/

.most_downloaded_box_header
{
  width: 265px;
  width: 263px !important;
  color: @fnwhite;
}



/****************** MAIN MENU ********************/

.main_icon
{
  margin-left: -30px;
}

.sub_icon
{
  margin-left: -15px;
}

#icon_menu a
{
  font-size: @fnfontSizeIconMenu;
  color: @fnwhite;
  text-shadow: @fntextShadowWhite;
  font-weight: @fnfontWeightBold;
  letter-spacing: @fnletterSpacing;
}

.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus
{
  background-color: transparent;
}

#icon_menu .icon_menu_blue .active a,
#icon_menu .icon_menu_blue .active a:hover,
#icon_menu .icon_menu_blue .active a:focus,
#icon_menu .icon_menu_blue a:hover,
#icon_menu .icon_menu_blue a:focus {
  color: @fnblue;
  text-shadow: @fntextShadowBlue;
}

#icon_menu .icon_menu_red .active a,
#icon_menu .icon_menu_red .active a:hover,
#icon_menu .icon_menu_red .active a:focus,
#icon_menu .icon_menu_red a:hover,
#icon_menu .icon_menu_red a:focus {
  color: @fnred;
  text-shadow: @fntextShadowRed;
}

#icon_menu .icon_menu_yellow .active a,
#icon_menu .icon_menu_yellow .active a:hover,
#icon_menu .icon_menu_yellow .active a:focus,
#icon_menu .icon_menu_yellow a:hover,
#icon_menu .icon_menu_yellow a:focus {
  color: @fnyellow;
  text-shadow: @fntextShadowYellow;
}

#icon_menu .icon_menu_green .active a,
#icon_menu .icon_menu_green .active a:hover,
#icon_menu .icon_menu_green .active a:focus,
#icon_menu .icon_menu_green a:hover,
#icon_menu .icon_menu_green a:focus {
  color: @fngreen;
  text-shadow: @fntextShadowGreen;
}

#icon_menu .nav-list a
{
  font-size: @fnfontSizeIconMenuSmall;

}

#icon_menu .nav-list li
{
  line-height: @fnfontLineHeightIconMenuSmall;
}

#icon_menu .nav-list li.first
{
  padding-top: 7px;
}

#icon_menu .nav-list li.last
{
  padding-bottom: 15px;
}

#icon_menu img
{
  padding-right: 20px;
}

.nav-list > li > a
{
  padding: 0px 5px;
}



/****************** PAGER ********************/

.pager_blue > .pagination > ul > li > a:hover, .pager_blue > .pagination > ul > li.active > a
{
  color: @fnblue;
}



/****************** CONTENT - h1, h2... span, p etc. ********************/

#main_small h1
{
  color: @fnwhite;
  font-size: @fnfontSizeTextMainH1;
  padding-bottom: 10px;
  text-align: center;
}


/****************** ENTRIES list ********************/

.entry_row_top a
{
  text-decoration: none;
}

.entry_row_desc
{
  color: @fngrey;
  font-size: @fnfontSizeTextMain;
  line-height: @fnfontLineHeightTextMain;
  text-align: left;
  padding: 7px 6px 0px 6px;
}

.entry_row_desc > a
{
  color: @fnblue;
  text-shadow: @fntextShadowBlack;
  text-decoration: none;
}


/****************** ENTRIES details ********************/

.show_item_top
{
  display: block;
  overflow: hidden;
  clear: both;
}

.show_item_image
{
  float: left;
}
.show_item_info
{
  color: @fnwhite;
  padding-left: 175px;
  padding-top: 6px;
  text-align: left;
}






.show_item_date
{
  font-size: 11px;
  line-height: 13px;
  padding-bottom: 2px;
}

.show_item_title
{
  line-height: 16px;
}

.show_item_title > a
{
  color: @fnwhite;
  font-size: 14px;
  text-decoration: none;
}

.show_item_title > a:hover, .show_item_title > a:focus
{
  color: @fnblue;
}

show_item_desc
{
  color: @fngrey;
  font-size: 13px;
  line-height: 15px;
  text-align: left;
  padding: 5px 6px 0px 6px;
}

.show_item_more
{
  font-size: 13px;
  text-align: right;
}

.show_item_more > a, .show_item_desc > a, .thumb_border > a
{
  color: @fnblue;
  text-decoration: none;
}







.boxy {
    background-color: transparent;
    padding: 10px;
    margin: 0 -10px;
    .border-radius(0 0 6px 6px);
    .box-shadow(0 1px 2px rgba(0,0,0,.15));
}
.product-container {
    margin-left: 0;
}
.photo-container {
    margin-left: 0;
}

th {
    background-color: #f5f5f5;
}
#my-cart-btn {
    margin-right: 30px;
}

.cart-actions {
    margin-top: 3px;
}
span.label-price {
    padding: 6px;
    margin: 3px;
}
span.out-of-stock {
    margin-right: 15px;
    font-size: 20px;
    padding: 10px;
}
.page-header {
    background-color: transparent;
    padding: 15px 0 15px 15px;
    margin: -10px -10px 10px -10px;
}
.center-text {
    text-align: center;
}
